@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Basic Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-align: center;
}

li {
  list-style: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

/* .nav-container Styles */

.nav-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.8rem 0;
  width: 82vw;
  position: sticky;
  backdrop-filter: blur(8px);
  top: 0;
  left: 0;
  z-index: 100;
  color: white;
}

.nav-container figure {
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 3px;
  font-size: 22px;
  line-height: 32px;
  cursor: pointer;
}

.nav-container nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.nav-container nav ul {
  display: flex;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
}

.link-ul {
  gap: 2rem;
  margin-left: 8rem;
}

.button-ul {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.button-ul a {
  background-color: rgba(195, 195, 195, 0.05);
  padding: 7px 14px;
  border-radius: 30px;
}

.button-ul button {
  background-color: #fff;
  color: #000;
  padding: 7px 14px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
  border: none;
}

/* Hero Styles */

.hero-container {
  background-image: url(https://www.mintlify.com/hero/bg-light.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.8rem;
}

.hero {
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

/* New Section Styles */

.new-section a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  width: fit-content;
  padding: 3px 6px;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  cursor: pointer;
}

.new-section a span {
  background-color: lab(51.3415% -41.5657 15.3527);
  border-radius: 20px;
  padding: 2px 6px;
}

.new-section a img {
  background-color: #fff;
  border-radius: 50%;
}

/* Text Section Styles */

.text-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.text-section h1 {
  font-size: 61px;
  font-weight: 600;
  line-height: 72px;
  width: 40rem;
}

.text-section p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  width: 30rem;
}

/* Input Section Styles */

.input-section {
  position: relative;
  margin-bottom: 4rem;
}

.input-section input {
  background-color: rgba(255, 255, 255, 0.25);
  border: none;
  padding: 15px;
  width: 25vw;
  border-radius: 50px;
  text-align: start;
}

.input-section input::placeholder {
  color: rgb(205, 205, 205);
}

.input-section button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 30px;
  width: fit-content;
  position: absolute;
  right: 4px;
  top: 5px;
}

/* Image Section Styles */

.image-section img {
  border-radius: 20px;
}

/* trusted by styles */

.trusted-by {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  max-width: 70vw;
  margin: 0 auto;
  padding: 72px 32px 144px 32px;
}

/* feature-highlights styles */

.feature-highlights {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 4rem;
  flex-direction: column;
  width: fit-content;
  justify-self: center;
}

/* .feature-highlights header styles */

.feature-highlights header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.feature-highlights header h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 44px;
}

.feature-highlights header p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #08090acc;
  width: 40vw;
}

/* .feature-highlights div styles */

.feature-highlights .feature-container {
  display: flex;
  gap: 1.5rem;
}

.feature-highlights div section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* .feature styles */

.feature {
  width: 30vw;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.feature div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.feature .keyword {
  font-family: "Geist Mono", monospace;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #0c8c5e;
  text-align: left;
}

.feature h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
  text-align: left;
}

.feature .description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #08090acc;
  text-align: left;
}

.feature img {
  width: 100%;
}

/* .final-feature-container styles */

.final-feature-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

/* .big-feature styles */

.big-feature {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 95%;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.big-feature .keyword {
  font-family: "Geist Mono", monospace;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #0c8c5e;
}

.big-feature h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
}

.big-feature .description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #08090acc;
  width: 32vw;
}

.big-feature figure img {
  width: 100%;
}