@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* Basic Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-align: center;
}

li {
  list-style: none;
  cursor: pointer;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

.keyword {
  text-transform: uppercase;
  font-family: "Geist Mono", monospace;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  color: #0c8c5e;
}

.description {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #08090acc;
}

/* .nav-container Styles */

.nav-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.8rem 0;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(12px);
  top: 0;
  z-index: 999;
  color: #fff;
}

.nav-container figure {
  display: flex;
  align-items: center;
  font-weight: 600;
  gap: 3px;
  font-size: 22px;
  line-height: 32px;
  cursor: pointer;
}

.nav-container nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}

.nav-container nav ul {
  display: flex;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
}

.link-ul {
  gap: 2rem;
  margin-left: 8rem;
}

.button-ul {
  gap: 1rem;
  display: flex;
  align-items: center;
}

.button-ul a {
  background-color: rgba(195, 195, 195, 0.05);
  padding: 7px 14px;
  border-radius: 30px;
}

.button-ul button {
  background-color: #fff;
  color: #000;
  padding: 7px 14px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 15px;
  line-height: 23px;
  border: none;
}

/* Hero Styles */

.hero-container {
  padding-top: 100px;
  background-image: url(https://www.mintlify.com/hero/bg-light.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.8rem;
}

.hero {
  color: #fff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

/* New Section Styles */

.new-section a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  width: fit-content;
  padding: 3px 6px;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  cursor: pointer;
}

.new-section a span {
  background-color: lab(51.3415% -41.5657 15.3527);
  border-radius: 20px;
  padding: 2px 6px;
}

.new-section a img {
  background-color: #fff;
  border-radius: 50%;
}

/* Text Section Styles */

.text-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.text-section h1 {
  font-size: 61px;
  font-weight: 600;
  line-height: 72px;
  width: 40rem;
}

.text-section p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  width: 30rem;
}

/* Input Section Styles */

.input-section {
  position: relative;
  margin-bottom: 4rem;
}

.input-section input {
  background-color: rgba(255, 255, 255, 0.25);
  border: none;
  padding: 15px;
  width: 25vw;
  border-radius: 50px;
  text-align: start;
}

.input-section input::placeholder {
  color: rgb(205, 205, 205);
}

.input-section button {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-weight: 500;
  border-radius: 30px;
  width: fit-content;
  position: absolute;
  right: 4px;
  top: 5px;
}

/* Image Section Styles */

.image-section img {
  border-radius: 20px;
}

/* trusted by styles */

.trusted-by {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  max-width: 70vw;
  margin: 0 auto;
  padding: 72px 32px 144px 32px;
}

/* feature-highlights styles */

.feature-highlights {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 4rem;
  flex-direction: column;
  width: fit-content;
  justify-self: center;
}

/* .feature-highlights header styles */

.feature-highlights header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 3rem;
}

.feature-highlights header h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 44px;
}

.feature-highlights header p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #08090acc;
  width: 40vw;
}

/* .feature-highlights div styles */

.feature-highlights .feature-container {
  display: flex;
  gap: 1.5rem;
}

.feature-highlights div section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

/* .feature styles */

.feature {
  width: 30vw;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 0px 1px rgb(0, 0, 0);
}

.feature div {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.feature .keyword {
  text-align: left;
}

.feature h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
  text-align: left;
}

.feature .description {
  text-align: left;
}

.feature img {
  width: 100%;
}

/* .final-feature-container styles */

.final-feature-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
  margin-bottom: 10rem;
}

/* .big-feature styles */

.big-feature {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 95%;
  padding: 1rem;
  border-radius: 20px;
  box-shadow: 0 0px 1px rgb(0, 0, 0);
}

.big-feature h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 31px;
}

.big-feature .description {
  width: 32vw;
}

.big-feature figure img {
  width: 100%;
}

/* .enterprise-secton styles */

.enterprise-section {
  background-color: lab(2.42579% -0.165291 -0.470081 / 0.03);
  padding: 96px 0;
  margin-top: 10rem auto;
}

.enterprise-section .contianer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  max-width: 67vw;
  margin: 0 auto;
}

/* .enterprise-header styles */

.enterprise-header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.enterprise-header .keyword {
  text-align: left;
}

.enterprise-header h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
  width: 40%;
}

.enterprise-header div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.enterprise-header .description {
  text-align: left;
}

.enterprise-header button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0.6rem 1.6rem;
  font-weight: 500;
  line-height: 24px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
}

/* .enterprises styles */

.enterprises {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* .enterprise styles */

.enterprise {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 50%;
}

.enterprise * {
  text-align: left;
}

.enterprise figure {
  width: 35px;
}

.enterprise .heading {
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
}

/* curstomer-stories styles */

.customer-stories {
  width: 100%;
}

.customer {
  background-image: url(./images/bg-image.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  border-radius: 20px;
  padding: 4rem;
  background-position: center;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 8rem;
}

.customer-stories {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

.customer * {
  text-align: left;
  color: #fff;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 40%;
}

.customer .keyword {
  font-weight: 600;
}

.customer h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
}

.customer .story {
  font-size: 15px;
  font-weight: 500;
  line-height: 23px;
  display: flex;
  gap: 5px;
}

.customer .story img {
  width: 15px;
  filter: invert(100%);
}

.data-container {
  display: flex;
  gap: 1.2rem;
  align-items: flex-start;
}

.data-container div {
  width: 25%;
}

.data-container h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 44px;
}

.data-container p {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #fffc;
}

.logo-container {
  display: flex;
  gap: 2rem;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.logo-container * {
  cursor: pointer;
}

.story-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  margin-top: 10rem;
  padding: 72px 0;
}

.story-section .text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 41vw;
  gap: 1rem;
}

.story-section .text h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 44px;
}

.story-section .image {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}

.story-section .image figure {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 350px;
}

.story-section .story-image {
  width: 350px;
  border-radius: 20px;
}

.story-section figure .description {
  text-align: left;
  height: 48px;
  width: 350px;
  overflow: hidden;
  display: -webkit-box;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.read-more {
  color: #5d5d5dcc;
  font-size: 15px;
  line-height: 23px;
  font-weight: 400;
  cursor: pointer;
  text-align: left;
}

.story-section .buttons {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.story-section .buttons button {
  background-color: #000;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.story-section .buttons img {
  width: 15px;
  filter: invert(100%);
}

.final-CTA {
  padding: 120px 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.final-CTA header {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.final-CTA header h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 44px;
  width: 30vw;
}

.final-CTA header p {
  width: 35vw;
}

.final-CTA .buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.final-CTA .buttons button {
  padding: 10px 30px;
  border-radius: 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  cursor: pointer;
  border: none;
}

.buttons .black-btn {
  background-color: #000;
  color: #fff;
}

.buttons .white-btn {
  background-color: #fff;
  color: #000;
  box-shadow: 0px 0px 1px rgb(0, 0, 0);
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards div {
  padding: 50px;
}

.cards div figure img {
  width: 50px;
  box-shadow: 0 0 1px rgb(0, 0, 0);
  border-radius: 10px;
  padding: 10px;
}

.cards div h4 {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
}

.green-text {
  color: #0c8c5e;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.cards .first-div {
  border-right: 1px solid #cfcfcf;
}

footer {
  width: 100%;
  border-top: 1px solid #cfcfcf;
  border-bottom: 1px solid #cfcfcf;
  background-color: lab(2.42579% -0.165291 -0.470081 / 0.03);
}

footer section {
  margin: 0 auto;
  width: 70%;
  border: 1px solid #cfcfcf;
}

.logo-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.5rem 2rem 1rem 2rem;
}

.logo figure {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.logo img {
  width: 30px;
  cursor: pointer;
}

.logo figcaption {
  font-size: 22px;
  font-weight: 700;
  line-height: 32px;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.social-links img {
  cursor: pointer;
  filter: grayscale(100%);
}

.grid-section {
  padding: 3rem 3rem 4rem 3rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.5rem;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}

.grid-head {
  font-size: 13px;
  font-weight: 500;
  line-height: 20px;
  color: #08090a80;
  text-transform: uppercase;
  cursor: none;
}

.grid-container p {
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  cursor: pointer;
}

.extra-info {
  padding: 1.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
}

.extra-info p {
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
}

.extra-info img {
  width: 70px;
  cursor: pointer;
}

.claims {
  padding: 1rem 2rem 4rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail-btn {
  padding: 7px 20px;
  border-radius: 30px;
  cursor: pointer;
  border: none;
  background-color: rgba(195, 195, 195, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.detail-btn img {
  width: 15px;
}

.detail-btn span {
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
}

.claims p {
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  color: #08090a99;
}

.theme-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  background-color: lab(2.42579% -0.165291 -0.470081 / 0.03);
  border: none;
  border-radius: 30px;
  padding: 7px 10px;
}

.theme-btn img {
  cursor: pointer;
}

.current-active {
  border-radius: 50%;
  background-color: #fff;
  padding: 4px;
}